*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --base: #212529;
  --basefaded: #cbcbcb;
  --fadedui: #f1f3f5;
  --reasonbase: #db4d3f;
  --reasonbasefaded: #e89e96;
  --reasonfadeui: #e8ccc9;
}

body {
  color: var(--base);
  font-family: monospace;
  padding: 4rem;
}

figure {
  margin: 0;
}

a {
  background-color: var(--reasonbase);
  color: var(--background);
  display: inline-block;
  padding: 0 .25rem;
  text-decoration: none;
}

a:active, a:focus, a:hover {
  background-color: var(--reasonbasefaded);
  color: var(--base);
}


.atest__comparison {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.atest {
  border-top: 1px solid var(--fadedui);
  display: flex;
  padding: 1rem;
}

.atest__anim {
  width: 200px;
  height: 200px;
}
/* .atest__anim--reason {} */
/* .atest__anim--js {} */

.atest__desc {
  color: var(--basefaded);
}
.atest__anim--reason > .atest__el {
  background-color: var(--reasonbase);
}

.atest__el--circle {
  background-color: var(--base);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
